.center-image {
    text-align: center;
}

.center-image img {
    display: block;
    margin: 0 auto; 
    width: auto;
    height: auto;
}

.center-text {
    text-align: center;
}

.skills {
    font-style: italic;
}

.skills ul li:hover p {
    color: red;
}

.skills ul li {
    list-style: upper-latin;
    font-weight:600;
}

.skills ul li h3 {
    font-weight: normal;
}
