body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

.center-image {
    display: flex;
    justify-content: center;
}

.center-image img {
    width: 300px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.center-text {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 10px;
}

.skills ul li p {
    margin-top: 5px;
}