.header {
    text-align: center;
}
.header img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 600px;
}
.header nav {
    margin-top: 20px;
}
.header nav ul {
    padding: 0;
    list-style: none;
}
.header nav ul li {
    display: inline;
    margin-right: 10px;
}


.skills{
    font-style: italic;
}

.skills li{
    list-style: upper-latin;
}

.skills h3{
    color: red;
}